body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

select.form-control,
textarea.form-control,
input.form-control {
    font-size: 16px;
}

input[type=file] {
    width: 100%;
}

.login-card {
    box-shadow: 1px 1px 2px black;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.login-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-form {
    text-align: center;
}

.login-header > img {
    margin: 15px;
    width: 150px
}

.login-header--welcome {
    text-align: left;
    width: 441px
}

.login-header--welcome h1 {
    text-transform: uppercase;
    font-weight: normal;
    color: #01A8E2;
}

.home {

}

.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-header h3 {
    text-transform: uppercase;
    font-weight: normal;
}

.home-header img {
    text-transform: uppercase;
    margin: 15px;
    width: 115px
}

.home-header--bande-rouge {
    height: 5px;
    width: 100%;
    background-color: #DC2624;
}

.home-header--bande-verte {
    height: 5px;
    width: 100%;
    background-color: #019A41;
}

.home-big-button {
    display: flex;
    justify-content: space-between;
}

.home-big-button--item {
    padding: 20px;
    min-width: 300px;
    text-align: center;
}

.home-big-button--item * {
    color: #ffffff;
}

.home-table {
    text-align: center;
    width: 100%;
}

.home-connected {
    text-align: right;
    margin-right: 20px;
}

.home-connected img {
    width: 21px;
    margin-left: 20px;
}

.home-check-title {
    text-transform: uppercase;
    text-align: center;
}

.ok {
    color: #009323;
}

.not-ok {
    color: #D0021B;
}

.is-required {
    color: #000000;
}

.is-not-required {
    color: #808080;
}

.checking-title {
    text-transform: uppercase;
    font-weight: normal;
}

.checking-container {

}

.checking-container--input {
    font-size: 70px;
    width: 450px;
    padding: 30px;
    margin-top: 50px;
}

.checking-navigation {
    margin-bottom: 30px;
}

.checking-navigation p {
    float: right;
}
